extends layout

block content

  div.container
    div(class="navbar navbar-default navbar-fixed-top")
        ul(class="nav navbar-nav")
          li
            a(href="/home") HOME
    div.row
      h1 About Poetry Link
    div.row
      div.col-md-6
        h2
          span(class="label label-primary") How to Play
        div.spacer
        ul
          li <strong>Write</strong> poetry! It's the soul of poetry Link, without it there is nothing.
          li Use other people's lines to write new poems! You can <strong>select any line</strong> of any poem and make something new with it.
          li <strong>Interact</strong> with other authors. If someone uses one of your lines, continue the game and write something with a line from their poem.
        h2
          span(class="label label-default") About Me
        div.spacer
        p I am a Chinese scholar, composer and writer attempting to expand my creative universe via comuter programming and web development. Poetry Link is my first project. It was inspired by East Asian poetry games and the idea that sharing is good.
        p If you want to contact me about anything you can e-mail me: james.howe.edwards@gmail.com 
        p Or find me on Github: http://github.com/incrediblesound      
      div.col-md-6
        h2
          span(class="label label-warning") Warning!
        div.spacer
        ul
          li This is a repository of shared writing. By posting material on the website you are giving up ownership of it. If your work is personal or copywrited <strong>do not</strong> put it on Poetry Link.
          li Someone else's line may only be used as the first or last line of a new poem. Sorry folks, games have rules.
          li Poem numbering <strong>does not include</strong> lines from other poems. When you borrow someones line, pay attention to this fact.
          li As soon as someone links to your poem it is no longer yours and yours alone. Such poems may not be deleted.
          li If you write a lot of obscene stuff on my site I will <strong>delete</strong> it. As site creator I retain the right to remove your content.
          li This website is stored on a computer. Computers are error prone! If you like what you write, <strong>copy it down</strong> in a real notebook. If something goes wrong I take no responsibility for work lost on my site.
        h2
          span(class="label label-danger") Beware!
        div.spacer
        p This site is currently in development. There are undoubtedly bugs and shortcomings. Be careful and please send information about errors to me.