extends layout

block content

  div.container
    div(class="navbar navbar-default navbar-fixed-top")
      ul(class="nav navbar-nav")
        li
          a(href="/home") HOME
    div.row
      span(class="btn btn-default btn-lg" id="graph") MAKE GRAPH