extends layout

block content

  div.container
    div(class="navbar navbar-default navbar-fixed-top")
      ul(class="nav navbar-nav")
        li
          a(href="/home") HOME
    div.row
    h1 Graph Generator
    span(class="btn btn-default btn-lg pull-left" id="graph") MAKE
