extends layout

block content
  h1= title
  div.navbar
    ul.navigation
      li#home
        a(class = 'active' href = '/') Browse Poems
      li#links View Links
      li#authHome 
        a(href = '/desk') Author Home
      li#register
        a(href = '/register') Join the fun!
      li#search
        form(method='post', action='/search')
          input(type='text' name='searchQuery')
          input(type='submit' value='search')
      li#login
        form(method='post', action='/login')
          input(type='text' name='username' value='username')
          input(type='text' name='password' value='password')
          input(type='submit' value='login')
  div.poetry
    - each poem in poems
      div.poem_d
        h2= poem.title
        - var lines = poem.content.split('\r\n')
        - for(i=0;i<lines.length;i++)
          p.line= lines[i]
        p.author <strong>Written by:</strong> 
          = poem.author