extends layout

block content
  div#login
    form(method='post' action='/login')
      span.label Username:
      input(type='text' name='username')
      span.label Password:
      input(type='password' name='password')
      input(type='submit' value='login')
  h1= title
  div.navbar
    ul.navigation
      li#home
        a(class = 'active' href = '/') Browse Poems
      li#links View Links
      li#authHome 
        a(href = '/desk') Author Home
      li#register
        a(href = '/register') Join the fun!
      li#logout
        a(href = '/logout') Log Out
      li#search
        form(method='post' action='/search')
          input(type='text' name='searchQuery')
          input(type='submit' value='search')
  div.poems
    h2 Recent Poems
    - each poem in poems
      a(href='/poems/#{poem._id}') 
        = poem.title
        <br>
  div.authors
    h2 Featured Authors
    - each author in authors
      a(href='/authors/#{author.username}')
        = author.fullName
        <br>