extends layout

block content
  div.container
    header.modal-header
      div(class="navbar navbar-default navbar-fixed-top")
        ul(class="nav navbar-nav")
          li
            a(href = '/about') About
          li
            a(href = '/desk') Author Home
          li
            a(href = '/register') Join the fun!
          li
            a(href = '/stats') Rankings
          li
            a(href = '/graph') Graph
              span(class='label label-warning') NEW!
          li
            a(href = '/logout') Log Out
        form(method='post' class="navbar-form navbar-right" action='/login')
          div.form-group
            input(type='text' class="form-control" placeholder="username" name='username')
          div.form-group
            input(type='password' class="form-control" placeholder="password" name='password')
          input(type='submit' class="btn btn-success" value='login')
    div.row
      div.col-md-4
        h2
          span(class="label label-info") Search for Poems
        form(method='post' class="form-inline" action='/search' role="form")
          div.form-group
            input(type='text' class='form-control' name='searchQuery')
          input(type='submit' class='btn btn-default' value='search')
      div.col-md-4
        h2 Recent Poems
        - each poem in poems
          a(href='/poems/#{poem._id}') 
            = poem.title
            <br>
      div.col-md-4
        h2 New Authors
        - each author in authors
          a(href='/authors/#{author.username}')
            = author.fullName
            <br>