extends layout

block content
  h1= title
  div.navbar
    ul.navigation
      li#home
        a(class = 'active' href = '/') Browse Poems
      li#links View Links
      li#authHome 
        a(href = '/desk') Author Home
      li#register
        a(href = '/register') Join the fun!
      li#logout
        a(href = '/logout') Log Out
      li#search
        form(method='post', action='/search')
          input(type='text' name='searchQuery')
          input(type='submit' value='search')
      li#login
        form(method='post', action='/login')
          input(type='text' name='username' value='username')
          input(type='text' name='password' value='password')
          input(type='submit' value='login')
  div.poems
    h2 Recent Poems
    - each poem in poems
      a(href='/poems/#{poem.title}') 
        = poem.title
  div.authors
    h2 Featured Authors
    - each author in authors
      a(href='/authors/#{author.username}')
        = author.fullName