doctype html
html
  head
    title= title
    meta(name="google-site-verification" content="9ILsoJ3UcJ9-VL3SRJcEyX8HlJ44G_bc0pAtOn5CoTg")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/functions.js')
    script(src='/javascripts/d3.v3.js')
  body
    block content

  