extends layout

block content
  div.container
    div(class="navbar navbar-default navbar-fixed-top")
        ul(class="nav navbar-nav")
          li
            a(href="/home") HOME
    div.row
    div.center-block 
      h1 Welcome New Author
    div.row
    div.col-md-4
      form(method='post', action='/newauthor')
        div.form-group
          label(for="name") Full name:
          input(type='text', id="name" class='txt' name='authorName' required)
        div.form-group 
          label(for="user") User name:
          input(type='text' id="user" class='txt' name='userName' required)
        div.form-group
          label(for="pass") Password:
          input(type='password' id="pass" class='pass' name='password' required)
        div.form-group
          label(for="favorites") Favorite poets:
          input(type='text' id="favorites" name='favorites')
          p.help-block Separated by commas, no spaces
        div.spacer
        div.form-group
          label(for='bio') Short bio:
          textarea(id='bio' name='bio')
        div#addPoem
          input(type='submit', class='newauthor', value='save') 
        h2
          span(class="label label-danger") Read the about page before saving any poems!