extends layout

block content

  div.container
    div(class="navbar navbar-default navbar-fixed-top")
        ul(class="nav navbar-nav")
          li
            a(href="/home") Home
        ul(class="nav navbar-nav navbar-right")
          li
            a(href="/logout") Log Out
    div.row
    h2 Search Results
    hr
    - each poem in poems
        a(href='/poems/#{poem._id}' class='btn btn-success')= poem.title 
          p by #{poem.author}
