body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	background-color: #9EFFF8;
	border-width: 3px;
	border-radius: 12px;
	color: black;
}

.author {
	text-align: center;
	}

div {
	margin-bottom: 4px;
}
.counter {
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	color: black;
	position: absolute;
	left: 0;
}

#login {
	padding: 2px;
	position: absolute;
	top: 0;
	right: 0;
	border-style: solid;
	border-width: 1px;
	float: right;
}

.lnkheader {
	float: right;
	text-align: center;
	right: 2;
	width: 30%;
	border-style: solid;
	border-width: 1px;
	background-color: #FFB6C1;
}

.tag {
	display: inline;
}

.poemList {
	display: inline;
}

.title {
	text-align: center;
}
.spacer {
	margin-bottom: 24px;
}
#linkInfo, .linkbud {
	cursor: pointer;
}

.linecounter, .linkbud {
	margin-left: 8px;
}

.linkbud, .linkinfo, a {
	display: inline;
}

.sp {
	margin-left: 8px;
}